In [1]:
from pymongo import MongoClient
from bson.objectid import ObjectId
import csv
import pandas as pd

In [2]:
conn = MongoClient('localhost', 27017)
db = conn.forum

In [3]:
cursor = db['cf_scores'].find()

In [4]:
info = [a for a in cursor]

In [5]:
len(info)

259658

In [6]:
df = pd.DataFrame.from_dict(info, orient = 'columns')

In [7]:
df[:3]

,_id,m_id,member_id,member_name,scores,t_id,title,title_id
0,5ac76d2f1d41c836f5e7ddda,980,1674,alfi,5,1752,"“Alaska, where women win the Iditarod and men ...",2845
1,5ac76d2f1d41c836f5e7ddf7,7880,16074,NEROtic,1,16933,would like some assistance with dog breeds?,28622
2,5ac76d2f1d41c836f5e7ddfc,15039,127969,cos,1,42043,would gold retriever cross american bulldog be...,312169

In [8]:
df.count()

_id            259658
m_id           259658
member_id      259658
member_name    259658
scores         259658
t_id           259658
title          259658
title_id       259658
dtype: int64

In [9]:
dfa = df[df.isnull().any(axis=1)]

In [11]:
len(dfa)

235

In [10]:
dfb = df.dropna()

In [28]:
len(dfb)

259658

In [14]:
dfb.to_csv('ref_noNA.csv', index=False, header=True)

In [29]:
dfc = dfb[['m_id', 't_id']]

In [30]:
dfc.loc[:,'score'] = 1

/home/iii/.pyenv/versions/anaconda3-5.0.1/lib/python3.6/site-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/iii/.pyenv/versions/anaconda3-5.0.1/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [31]:
dfc[:10]

   m_id   t_id  score
0  2438   1752      1
1   980   1752      1
2   732   1752      1
3   510   1752      1
4   973   1752      1
5    69   1752      1
6  1035   1752      1
7   931   1752      1
8  1176   1752      1
9  2442  29908      1

In [32]:
dfc.count()

m_id     259658
t_id     259658
score    259658
dtype: int64

In [33]:
dfc.to_csv('score_1.csv', index=False, header=False)