In [1]:
from pymongo import MongoClient
from bson.objectid import ObjectId

In [2]:
conn = MongoClient('localhost', 27017)
db = conn.dogs

In [21]:
cursor = db['score_rank'].find({},{'_id':0})

In [22]:
info = [a for a in cursor]

In [50]:
info[:3]

[{'_score': 1.0, 'counts': 160834.0},
 {'_score': 2.0, 'counts': 46611.0},
 {'_score': 3.0, 'counts': 21316.0}]

In [8]:
info[0]['count']

160834.0

# Transform Json to CSV into Pandas, and save csv file

In [9]:
import csv

In [26]:
import pandas as pd

In [47]:
df = pd.DataFrame.from_dict(info, orient = 'columns').astype('int32')
df[:3]

   _score  counts
0       1  160834
1       2   46611
2       3   21316

In [48]:
df.to_csv('out.csv')

# Define one column as int if needed

In [43]:
df._score = df._score.astype(int)

In [57]:
df._score = pd.to_numeric(df._score)

In [58]:
df[:3]

   _score  counts
0       1  160834
1       2   46611
2       3   21316

In [72]:
cursor2 = db['T_A_score'].find({},{'_id':0})

In [73]:
info2 = [b for b in cursor2]

In [80]:
info2[0]

{'_id': ObjectId('5ac2df9b7f255219bef41854'),
 'author': 'Luananeko',
 'board': 'Breeds',
 'scores': 4.0,
 'title': '"Aggressive Breeds" Whats your opinion?'}

In [78]:
df2 = pd.DataFrame.from_dict(info2, dtype = 'int32')
df2 = df2[['board','title','author','scores']]

In [79]:
df2[:3]

    board                                    title        author  scores
0  Breeds  "Aggressive Breeds" Whats your opinion?     Luananeko       4
1  Breeds  "Aggressive Breeds" Whats your opinion?      Blue pup       2
2  Breeds  "Aggressive Breeds" Whats your opinion?  growinupinfl       1

## Normalize scores

In [81]:
df2.scores[0]

4

In [89]:
type(df2)

pandas.core.frame.DataFrame

In [93]:
df2.iloc[0:2,3]

0    4
1    2
Name: scores, dtype: int32

In [96]:
cols = list(df2.columns)

In [2]:
df2[0]

NameError: name 'df2' is not defined

In [ ]:
for col in cols:
    col_zscore = col + '_zscore'
    df2[col_zscore] = (df2[col] - df2[col].mean())/df2[col].std(ddof=0)