In [1]:
from pymongo import MongoClient
from bson.objectid import ObjectId

In [9]:
import csv
import pandas as pd

In [2]:
conn = MongoClient('localhost', 27017)
db = conn.forum

In [3]:
cursor = db['forCF'].find()

In [4]:
info = [a for a in cursor]

In [5]:
len(info)

451430

In [6]:
cursor_m = db['member'].find()

In [7]:
info_m = [b for b in cursor_m]

In [10]:
df = pd.DataFrame.from_dict(info, orient = 'columns')

In [15]:
df[:3]

,_id,author_name,board,floor,title,title_id,title_url
0,new-additions.one-loneliest-number-multi-dog-h...,fawkese1,new-additions,1,one is the loneliest number... multi-dog house...,78106,http://www.dogforum.com/new-additions/one-lone...
1,new-additions.one-loneliest-number-multi-dog-h...,crock,new-additions,2,one is the loneliest number... multi-dog house...,78106,http://www.dogforum.com/new-additions/one-lone...
2,new-additions.puppy-blues-puppy-depression-171...,ZoesMom,new-additions,1,Puppy Blues / Puppy Depression.,171570,http://www.dogforum.com/new-additions/puppy-bl...

In [16]:
df2 = pd.DataFrame.from_dict(info_m, orient = 'columns')

In [17]:
df2[:3]

      _id member_name
0   10012    lmgibbs4
1  100090     Taikrys
2  100122    detkizal

In [19]:
df = pd.merge(df, df2, how='left',
        left_on='author_name', right_on='member_name')

In [20]:
df[:3]

,_id_x,author_name,board,floor,title,title_id,title_url,_id_y,member_name
0,new-additions.one-loneliest-number-multi-dog-h...,fawkese1,new-additions,1,one is the loneliest number... multi-dog house...,78106,http://www.dogforum.com/new-additions/one-lone...,805,fawkese1
1,new-additions.one-loneliest-number-multi-dog-h...,crock,new-additions,2,one is the loneliest number... multi-dog house...,78106,http://www.dogforum.com/new-additions/one-lone...,3987,crock
2,new-additions.puppy-blues-puppy-depression-171...,ZoesMom,new-additions,1,Puppy Blues / Puppy Depression.,171570,http://www.dogforum.com/new-additions/puppy-bl...,8599,ZoesMom

In [21]:
df=df.rename(columns = {'_id_y':'member_id'})

In [23]:
df=df.rename(columns = {'_id_x':'_id'})

In [65]:
df[:3]

,_id,author_name,board,floor,title,title_id,title_url,member_id
0,new-additions.one-loneliest-number-multi-dog-h...,fawkese1,new-additions,1,one is the loneliest number... multi-dog house...,78106,http://www.dogforum.com/new-additions/one-lone...,805
1,new-additions.one-loneliest-number-multi-dog-h...,crock,new-additions,2,one is the loneliest number... multi-dog house...,78106,http://www.dogforum.com/new-additions/one-lone...,3987
2,new-additions.puppy-blues-puppy-depression-171...,ZoesMom,new-additions,1,Puppy Blues / Puppy Depression.,171570,http://www.dogforum.com/new-additions/puppy-bl...,8599

In [64]:
df3 = df.drop('author_name', axis=1)

ValueError: labels ['member_name'] not contained in axis

In [59]:
len(df3)

451430

In [62]:
df3[:3]

0    fawkese1
1       crock
2     ZoesMom
Name: member_name, dtype: object

In [36]:
for jdict in df.to_dict(orient='records')[:5]:
    print(jdict)

{'_id': 'new-additions.one-loneliest-number-multi-dog-households-78106.F1', 'author_name': 'fawkese1', 'board': 'new-additions', 'floor': 1, 'title': 'one is the loneliest number... multi-dog households', 'title_id': '78106', 'title_url': 'http://www.dogforum.com/new-additions/one-loneliest-number-multi-dog-households-78106/', 'member_id': '805', 'member_name': 'fawkese1'}
{'_id': 'new-additions.one-loneliest-number-multi-dog-households-78106.F2', 'author_name': 'crock', 'board': 'new-additions', 'floor': 2, 'title': 'one is the loneliest number... multi-dog households', 'title_id': '78106', 'title_url': 'http://www.dogforum.com/new-additions/one-loneliest-number-multi-dog-households-78106/', 'member_id': '3987', 'member_name': 'crock'}
{'_id': 'new-additions.puppy-blues-puppy-depression-171570.F1', 'author_name': 'ZoesMom', 'board': 'new-additions', 'floor': 1, 'title': 'Puppy Blues / Puppy Depression.', 'title_id': '171570', 'title_url': 'http://www.dogforum.com/new-additions/puppy-blues-puppy-depression-171570/', 'member_id': '8599', 'member_name': 'ZoesMom'}
{'_id': 'new-additions.puppy-blues-puppy-depression-171570.F2', 'author_name': 'JessJess', 'board': 'new-additions', 'floor': 2, 'title': 'Puppy Blues / Puppy Depression.', 'title_id': '171570', 'title_url': 'http://www.dogforum.com/new-additions/puppy-blues-puppy-depression-171570/', 'member_id': '81506', 'member_name': 'JessJess'}
{'_id': 'new-additions.puppy-blues-puppy-depression-171570.F3', 'author_name': 'austinsmom', 'board': 'new-additions', 'floor': 3, 'title': 'Puppy Blues / Puppy Depression.', 'title_id': '171570', 'title_url': 'http://www.dogforum.com/new-additions/puppy-blues-puppy-depression-171570/', 'member_id': '92394', 'member_name': 'austinsmom'}

In [38]:
collection = db['cf_table']
for jdict in df.to_dict(orient='records'):
    collection.insert_one(jdict)

# 成功了!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [66]:
cursor4 = db['cf_score'].find({},{'_id':0})

In [67]:
info4 = [d for d in cursor4]

In [68]:
info4[0]

{'board': 'dog-breeds',
 'member_id': '4337',
 'member_name': 'Dakota',
 'scores': 2.0,
 'title': '“Alaska, where women win the Iditarod and men mush poodles!”',
 'title_id': '2845'}

In [71]:
data4 = []
for num in range(0, len(info4)):
    dic = {}
    dic['member_id'] = info4[num].get('member_id')
    dic['title_id'] = info4[num].get('title_id')
    dic['score'] = 1
    data4.append(dic)

In [72]:
df4 = pd.DataFrame.from_dict(data4, orient = 'columns')
df4[:3]

  member_id  score title_id
0      4337      1     2845
1      1674      1     2845
2      1198      1     2845

In [73]:
df4 = df4[['member_id','title_id','score']]

In [74]:
df4.to_csv('score_1.csv', index=False, header=False)